openpgp: unsupported feature: unknown critical signature subpacket type 5

>  We are happy to answer your questions about the code or discuss technical ideas. 
 
Please complete the following checklist (by adding [x]):
- [x] I have searched open and closed issues for duplicates
- [x] This isn't a feature request
- [x] This is not a report about my app not working as expected

----------------------------------------

go-crypto inherited `golang.org/x/crypto/openpgp`'s lack of support for certain signature subpackets, as reported in golang/go#20686.  As a consequence, some public keys are completely unusable by the library.  The testcase in the linked issue can be used to reproduce it on go-crypto by changing the import.

Hey :wave: Thanks for the report, and sorry for the delay.

For what it's worth, since these signature subpackets are marked as "critical", we can't ignore them just because we don't support them, and should consider the entire signature as invalid instead (see [RFC4880 section 5.2.3.1](https://datatracker.ietf.org/doc/html/rfc4880#section-5.2.3.1)).
However, since these are third-party signatures, and thus not essential for using the keys, we could think about ignoring the signatures altogether. In fact, you could remove those signatures manually and then pass them to go-crypto. Would that solve your issue in this case?
On the other hand, please note that this is a 1024-bit DSA key, which is probably not really sufficiently secure anymore, and we may reject this key in the future on that basis alone.
I also don't think these subpackets (Trust signature and Regular expression) are very common, and in any case they are meant for a security model (Web of Trust) that we don't really fully support.
All in all, it may be worth just asking them to generate a new key?

> In fact, you could remove those signatures manually and then pass them to go-crypto. Would that solve your issue in this case?

It would, however, I wouldn't expect a casual user to know how to accomplish this.  They're just going to try using the key and get this weird error they don't know how to fix.

> On the other hand, please note that this is a 1024-bit DSA key, which is probably not really sufficiently secure anymore, and we may reject this key in the future on that basis alone.

That's a four-year-old test case from a different person.  I have the same problem with a different (2048-bit RSA) key.

> All in all, it may be worth just asking them to generate a new key?

Yep, I escalated to the vendor before filing this ticket.  While I think I *personally* have a path forward — either getting a new key, or performing surgery on the key I was provided — the fundamental issue is that a five minute key rotation task has ballooned into a difficult and time-consuming problem, due entirely to x/crypto/openpgp / go-crypto not supporting features of keys in the wild.  I'm slogging through it, but I don't think anyone else should have to.

Myeah, fair enough. It may be worth implementing these signature subpackets at least to the point where we can parse and serialize them, perhaps without actually doing anything else with them, so that we can at least use these keys. Certainly if someone wants to open a PR for this it would be welcome, otherwise I may get to it myself eventually.

Is ProtoMail open to contributions on this repo to address this issue? 

Created a PR: https://github.com/ProtonMail/go-crypto/pull/138

Fixed by #138 :) Thanks again @arudzitis-stripe!