Backwards-compatible packet serializer

Currently, go-crypto/openpgp only supports new-format packet headers on output, but both old and new formats on input (RFC4880 §4.2). This is entirely in line with the SHOULD provisions of that section, however there are use cases where the ability to produce old-format headers may be desirable.

I have implemented this already in a draft PR to hockeypuck (https://github.com/hockeypuck/hockeypuck/pull/190), but the code would be much cleaner (and smaller!) if it could be implemented here instead. Obviously this increases maintenance costs very slightly, but the logic is well-understood and already implemented here for input.

The calling application would have to specifically invoke the compatibility serializer, so existing dependent code will not be affected.

The problem at hand isn't interop with ancient software, but interop with merely old software that was initially designed to interop with ancient software... ;-)

sks-keyserver explicitly transforms packets to old format wherever possible - meaning that even though approximately nobody generates old format packets any more, they are still widespread. Hockeypuck meanwhile, via go-crypto, transforms in the other direction, running the risk of infinite update loops (although there are several possible sources of this behaviour being investigated). It would be nice to be able to definitively eliminate this particular (potential) source of error.

My preferred long-term solution is an update to the keyserver recon protocol, but that's a much bigger job...

I see. Would it be possible to store the key as received, perhaps after validating it, rather than using the re-serialized version from go-crypto?

The issue I see with generating old style packets is that then, if sks-keyserver wants to upgrade to the new packet format, they'll have the same issue as you have now.

So it would be better to store the packet format as it was received during parsing, and then re-serialize them to be the same, but doing that in go-crypto would add some overhead that I don't really think is worth it for most cases.

Changing the db schema would mean forcing operators to dump and reload on their next upgrade, which I would be reluctant to do unless there was a critical flaw, and this is more of a performance issue. The vast majority of keys have long ago been stripped of their original formatting, and the packet format of any new key that a particular keyserver sees is path dependent. Coercion to a canonical form seems to be the least worst option.

The keyservers could agree to deprecate old format headers at some future date - similar version ratchets have happened before. It could of course be argued that "some future date" should be asap, but the crypto-refresh might be required to drive that, as development of sks-keyserver has effectively stalled. 

@twiss I actually think that converting to old format when possible (as GnuPG and SKS do) is the correct approach.  This is both for consistency and because it sometimes makes packets smaller (by 1 byte).

Closing this because the motivating bug in hockeypuck is actually caused by #107.